<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="3 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <!--
    	Property
     -->
    <property name="logHome"   value="./log/test/"/>
    <timestamp key="bySecond"  datePattern="yyyyMMddHHmmss"/>

    <!--
    	Console Appender
     -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{HH:mm:ss.SSS}:%-5p:%c{0}.%M\(\):%L] %m%n</pattern>
        </encoder>
    </appender>

    <!--
        File Appender - Server Log
     -->
    <appender name="appenderServer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}server.log.%d{yyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{HH:mm:ss.SSS}:%-5p:%c{0}:%L] %m%n</pattern>
        </encoder>
    </appender>

    <!--
        File Appender - Error Log
     -->
    <appender name="appenderError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}error.log.%d{yyMMdd}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%d{HH:mm:ss.SSS}] %m%n</pattern>
        </encoder>
    </appender>

    <!--
    	Service Appender
     -->
    <appender name="appenderService" class="ch.qos.logback.classic.sift.SiftingAppender">

        <!-- MDC Value -->
        <discriminator>
            <key>logServiceFileName</key>
            <defaultValue>service</defaultValue>
        </discriminator>

        <sift>
            <!-- A standard RollingFileAppender, the log file is based on 'logFileName' at runtime  -->
            <appender name="${logServiceFileName}" class="ch.qos.logback.core.FileAppender">
                <file>${logHome}service/${logServiceFileName}</file>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>[%d{HH:mm:ss.sss}:%p:%c:%L] %m%n</pattern>
                </encoder>
            </appender>
        </sift>

    </appender>

    <logger name="fileError" level="error" additivity="true">
        <appender-ref ref="appenderError"/>
    </logger>
    <logger name="eachService" level="debug" additivity="true">
        <appender-ref ref="appenderService"/>
    </logger>

    <!--
    	ROOT
     -->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="appenderServer"/>
    </root>

</configuration>
